{% extends "back/base.html" %}

{% load static %}
{% load custom_tags %}
{% load i18n %}

{% block title %} Device List {% endblock %}

{% block website_name %} Dirty Jeans
{% endblock %}

{% block content %}

{% if msg_ok %}
    <div class="alert alert-info" role="alert">
        <strong>{{ msg_ok }}</strong>
    </div>
{% endif %}

{% if msg_err %}
    <div class="alert alert-warning" role="alert">
        <strong>{{ msg_err }}</strong>
    </div>
{% endif %}

<div class="col-xs-12 col-sm-12 placeholder">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans 'Id' %}</th>
                <th> Register Device </th>
                <th> Location  Server</th>
                <th>File </th>
                <th>DNS</th>
                <th>IP Address</th>
                <th>Edit</th>
                <th>Move</th>
                <th>Delete</th>

            </tr>
            </thead>
            <tbody>
            {% for i in list %}
            <tr>
                <td>#{{ i.id }}</td>
                <td>{{ i.register_device }}</td>
                <td>{{ i.location }}</td>
                <td><a href="{{ i.file.url }}">{{ i.file.name }}</a></td>
{#                <td>{{ i.file }}</td>#}

                <td>{{ i.dns}}</td>
                <td>{{ i.ip_address }}</td>
                <td><a class="btn btn-warning" href="{% url 'media_edit' i.id %}" role="button">Edit »</a></td>
                <td><a class="btn btn-danger" href="{% url 'media_delete' i.id %}" role="button" onclick="return confirm('The device and data will be wiped. are you sure');">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}